@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-rounded/css/uicons-thin-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import "tailwindcss";

@theme {
  /* Clean Primary Colors */
  --color-primary: #a1a1aa;      /* zinc-500 */
  --color-primary-light: #71717a; /* zinc-400 */
  --color-primary-dark: #52525b;  /* zinc-600 */

  /* Subtle Secondary Colors */
  --color-secondary: #39365d;    /*  */
  --color-secondary-light: #dddbff; /*  */
  --color-secondary-dark: #020024;  /*  */

  /* Warm Accent Colors */
  --color-accent: #0600c2;       /*  */
  --color-accent-light: #443dff;  /*  */
  --color-accent-dark: #04006d;   /*  */

  /* Neutral Background Colors */
  --color-background: #48484a;    /*  */
  --color-background-dark: #33333a; /*  */
  --color-background-darker: #010104; /*  */

  /* Improved Text Colors */
  --color-text: #040316;         /*  */
  --color-text-light: #2f2d5f;   /*  */
  --color-text-lighter: #f1f1fe; /*  */

  /* Animation Keyframes */
  @keyframes out {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes down {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes little {
    0% {
      transform: translateY(-30%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes left {
    0% {
      opacity: 0.5;
      left: -1%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

  @keyframes right {
    0% {
      opacity: 0.5;
      right: -1%;
    }
    100% {
      opacity: 1;
      right: 0;
    }
  }

  --animate--out: out 2s ease;
  --animate--out-lt: out 1s ease ;
  --animate--down: down 2s ease;
  --animate--down-lt: little 2s ease;
  --animate--left: left 1.5s ease-in-out ;
  --animate--right: right 1.5s ease-in-out ;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  background-image: linear-gradient(to bottom right, white, #b4b4b6);
  color: var(--color-text);
  
}

